$icon-font-path: '../fonts/';
$dropdown-max-width: 143px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@font-face{
  font-family: MerriweatherSans;
  src: url(..fonts/MerriweatherSans-Regular.otf);
}


/*DIFFERENT STYLES*/
body {
  background-color: #d5c8b0;
}

hr {
  border-color: #dacebe;
}

.content {
  width: 960px;
  margin: auto;
  border-left: 1px solid #9b8e8e;
  border-right: 1px solid #9b8e8e;
  background-color: #e9e1d1;
}

.subheader {
  margin-left: 8px;
  font-size: 109%;
  letter-spacing: 1px;
}

.no-border-bottom {
  border-bottom: none !important;
}

/*HEADER*/
.header {
  padding: 20px 13px 10px 22px;

  .company-name {
    font-size: 250%;
    letter-spacing: 2px;
    padding-left: 3px;
  }
}

.search {
  padding-top: 11px;

  input {
    border: none;
    height: 26px;
    width: 185px;
    font-size: 83%;
    margin-right: 10px;
    opacity: 0.8;
    float: right;
    padding-left: 10px;
  }

  .fa-search {
    position: relative;
    left: 179px;
    top: 5px;
    color: #424242;
    float: right;
    opacity: 0.7;
    font-size: 115%;
  }
}

/*TOP-MENU*/
.top-menu {
  width: 958px;
  height: 50px;
  background-color: #b24b1a;
  margin-left: 30px;
  padding-right: 6px;

  .active-hover {
    color: #000000;
  }


  ul {
    font-size: 75%;
    float: right;
    padding-top: 17px;
  }

  ul li {
    display: inline;
    font-size: 120%;
    margin-left: 13px;
    letter-spacing: 1px;
   }


  ul li a {
    color: #ffffff;
    text-decoration: none;
  }

  ul li a:hover {
    color: #000000;
  }

}

/*DROPDOWN*/
.dropdown-menu {
  background-color: #e0d3c1;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border: none;
  border-radius: 1px;
  min-width: 143px !important;
  margin-top: 7px;

  li {
    padding-top: 0px !important;
    margin-left: 0px !important;

  }

  li a {
    color: #454545 !important;
    padding: 9px 0 0 20px;
    height: 34px;
    border-bottom: 1px solid #d5c9ba;
    font-size: 110%;
  }
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #9e9e9e;
}

.dropdown-menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #e0d3c1;
  position: absolute;
  z-index: 99;
  left: 18px !important;
  top: -5px !important;
}

/*CAROUSEL*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 520px;
}

.carousel-control {
  background-color: #ebebeb;
  border-radius: 100px;
  width: 45px;
  height: 45px;
  margin-left: 45px;
  margin-right: 45px;
  top: 225px;
  // opacity: 0.5 !important;

  img.prev {
    width: 80%;
    position: relative;
    top: 7px;
    right: 1px;
  }

  img.next {
    width: 80%;
    position: relative;
    top: 8px;
    left: 1px;
  }
}


.carousel-control:hover {
  background-color: #ebebeb;

}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}


.carousel-indicators {

  li {
    width: 40px;
    height: 10px;
    opacity: 0.6;
    position: relative;
    bottom: 2px;
    border-radius: 0px;
    background-color: #ebebeb;
    border: 1px solid #bdbabd;
    margin: 0px 1px 0px 0px;
    bottom: -24px;
  }

  li.active {
    width: 40px;
    height: 10px;
    opacity: 0.6;
    position: relative;
    bottom: 2px;
    border-radius: 0px;
    background-color: #b24b1a;
    border: 1px solid #974016;
    margin: 0px 1px 0px 0px;
    bottom: -24px;
  }
}

.orbit-text-back {
  width: 352px;
  height: 347px;
  background-color: #ffffff;
  opacity: 0.2;
  margin-left: 110px;
  position: absolute;
  bottom: 90px;
}
.orbit-text {
  font-size: 350%;
  position: absolute;
  bottom: 90px;
  width: 352px;
  height: 352px;
  margin-left: 110px;
  padding: 100px 5px;
  line-height: 1;
  letter-spacing: 3px;
  color: #ffffff;
  text-shadow: #999999 1px 1px 0, #999999 1px 1px 0, #999999 1px 1px 0, #999999 1px 1px 0;
}

/*SERVICES*/
.services-row {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;

  .services {
    width: 220px;
    height: 340px;
    margin: 8.5px 8.5px 0 8.5px;
    background-color: #e3d5c3;
    border: 1px solid #dacebe;

    .icon {
      background-color: #797779;
      width: 102px;
      height: 102px;
      border-radius: 100px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;

      img.mac {
        position: relative;
        top: 30px;
        left: 22px;
      }

      img.tablet {
        position: relative;
        top: 23px;
        left: 28px;
      }

      img.man {
        position: relative;
        top: 20px;
        left: 21px;
      }

      img.picture {
        position: relative;
        top: 25px;
        left: 21px;
      }

    }

    .title {
      color: #797779;
      font-size: 120%;
      margin-top: 5px;
      margin-bottom:10px;
      text-align: center;
    }

    .text {
      color: #797779;
      font-size: 90%;
      text-align: center;
      letter-spacing: 1px;
      line-height: 2;
      padding: 0;
    }
  }
}

/*HEADLINE*/
.headline {
  height: 190px;
  background-color: #b24b1a;
  padding: 0px;
  margin-left: 15px;
  margin-top: 10px;
  width: 958px;
  text-align: center;

  .title {
    font-size: 238%;
    margin-top: 32px;
    color: #444444;
    text-shadow: #bc6239 1px 1px 1px;
    letter-spacing: 4px;
  }

  .text {
    font-size: 160%;
    color: #ffffff;
    letter-spacing: 1px;
    float: left;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 5px;
  }

  .button {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background-color: #e3d5c3;
    color: #b24b1a;
    padding: 5px;
    margin-top: 5px;
    position: relative;
    bottom: 15px;
  }
}

/*Partners SLIDER*/ /*PORTFOLIO SLIDER*/
.partners, .portfolio {
  .prev, .next {
    background-color: #ebebeb;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    padding: 5px;
    opacity: 0.5;
    position: relative;
    left: 850px;
    margin: 3px;
    bottom: 35px;
  }

  .prev:hover, .next:hover {
    background-color: #403F40;
  }

  img {
    width: 220px;
    height: 140px;
    margin: 10px;
  }
}

.portfolio {

  img:hover {

  }

  li {
    position: relative;
  }

  li:hover {
    .highlight-with-crosshair {
      position: absolute;
      left: 10px;
      top: 10px;
      opacity: 0.8;
      background-color: #cd9a86;
      width: 220px;
      height: 140px;
    }
  }

}

.portfolio-hr, .partners-hr {
  margin-top: 10px;
}

.subheader-portfolio, .partners-subheader {
  margin-left: 8px;
  font-size: 130%;
  letter-spacing: 1px;
  color: #828282;
}

/*LATEST NEWS*/
.latest-news-subheader {
  margin-top: -35px;
  margin-bottom: 13px;
  margin-left: 8px;
  font-size: 130%;
  letter-spacing: 1px;
  color: #828282;
}

.latest-news {
  background-color: #f0eadf;
  height: 337px;
  padding: 0px;
  margin-left: 15px;
  width: 958px;

  img {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px 20px 5px 10px;
  }

  .title {
    color: #797779;
    margin-top: 9px;
    margin-bottom: 7px;
    font-size: 110%;
  }

  .text {
    color: #797779;
    line-height: 27px;
  }

  .button {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background-color: #b24b1a;
    color: #ffffff;
    font-size: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-left: 130px;
    margin-bottom: 20px;
  }
}

/*FOOTER*/
.footer {
  background-image: url(../images/footer-background.png);
  width: 958px;
  padding: 17px 15px 0px 20px;
  margin-left: 15px;
  color: #8f908f;
  font-weight: bold;

  ul {
    margin-top: 5px;
  }

  .navigation {
    line-height: 26px;

    .subheader {
      color: #dcdcdc;
      margin-left: 0;
      font-weight: normal;
      font-size: 95%;
    }
  }

  .fa-angle-right {
    font-size: 85%;
  }

  a {
    color: #b4b3b3;
    padding-left: 15px;
    font-size: 100%;
    font-weight: normal;
  }

  a:hover {
    text-decoration: none;
  }


  .contacts {
    margin-left: 60px;
    color: #b4b3b3;
    font-family: Arial;

    .subheader {
      font-size: 100%;
    }


    .fa-mobile {
      font-size: 130%;
      vertical-align: -3px;
    }

    ul li span {
      padding-left: 15px;
      font-size: 100%;
      font-weight: normal;
      line-height: 2;
    }

    .map-pin  {
      padding-left: 3px;
    }

    .fa-mobile {
      padding-left: 5px;
    }
  }

  .contact-us {
    padding-right: 0px;

    input {
      height: 30px;
      font-size: 85%;
      width: 260px;
      float: right;
      margin-bottom: 12px;
      padding-left: 7px;
    }

    .message {
      height: 60px;
      padding-bottom: 37px;
    }

    .button {
      width: 98px;
      height: 30px;
      border-radius: 4px;
      background-color: #b24b1a;
      color: #ffffff;
      padding: 4px;
      margin-left: 42px;
      border-top: 2px solid #c87a62;
      border-left: 1px solid #ad341c;
      border-bottom: 1px solid #ad341c;
      border-right: 1px solid #ad341c;
    }

  }

  .social {
    text-align: right;
    color: #3e393b;
    padding-right: 41px;
    margin-left: 360px;


    .fa {
      background-color: #8f908f;
      width: 22px;
      height: 22px;
      border-radius: 100px;
      margin-right: 5px;
    }

    .fa:hover {
      color: #cfcdcb;
      cursor: pointer;
    }

    .fa-pinterest:before {
      position: relative;
      top: 4px;
      right: 5px;
    }

    .fa-google:before {
      position: relative;
      top: 5px;
      right: 6px;
    }

    .fa-twitter:before {
      position: relative;
      top: 4px;
      right: 4px;
    }

    .fa-facebook:before {
      position: relative;
      top: 4px;
      right: 7px;
    }

    .fa-skype:before {
      position: relative;
      top: 4px;
      right: 5px;
    }
  }

  .copyright {
    font-size: 103%;
    background-color: #2e2d2d;
    height: 70px;
    margin-top: 15px;
    padding: 30px 0 0 10px;
    width: 958px;
    margin-right: 5px;
    position: relative;
    right: 5px;
    color: #7e7e7e;
    font-weight: normal;

    span {
      font-family: Arial;
      vertical-align: 5px;
    }

  }
}











